<%- include('includes/header') %>
<link rel="stylesheet" href="/stylesheets/style_modal.css" />
<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Dashboard</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
        <button class="btn-simple open-button">Create Application Entity</button>
          <%if(!data){%>
          <p class="text-center">No data</p>
          <%}else{%>
          <div class="table-responsive">
            <table class="table no-wrap">
              <thead>
                <tr>
                  <th class="border-top-0">#</th>
                  <th class="border-top-0">Title</th>
                  <th class="border-top-0 text-center" colspan="2">Action</th>
                </tr>
              </thead>
              <tbody>
                <%for(let i=0 ;i < data.length; i++){%>
                <tr>
                  <td><%= i + 1%></td>
                  <td class="txt-oflo"><%= data[i].name%></td>
                  <td class="txt-oflo text-center">
                    <a class="btn btn-primary" href="/info/<%=data[i].id%>"
                      >View</a
                    >
                  </td>
                  <td class="txt-oflo text-center">
                    <input
                      type="checkbox"
                      name="vehicle3"
                      value="<%= data[i].name%>"
                    />
                    <a
                      class="btn btn-danger disabled"
                      id="<%= data[i].name%>"
                      onclick="confirmAndDelete(`<%=data[i].id%>`)"
                      href=""
                      >Delete</a
                    >
                  </td>
                </tr>
                <%}%>
              </tbody>
            </table>
          </div>
          <%}%>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer text-center">2024 ©</footer>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/dashboard/create-tool" method="POST">
            <div class="form-group">
              <label for="titleTool">Name Application Entity</label>
              <input
                type="text"
                class="form-control"
                id="titleTool"
                name="name"
                aria-describedby="titleTool"
                placeholder="Enter Name Application Entity"
              />
            </div>
            <div class="form-group">
              <label for="titleTool">Label</label>
              <div id="group-label">
                <input
                  type="text"
                  class="form-control"
                  id="titleTool"
                  name="label"
                  aria-describedby="label"
                  placeholder="Enter label"
                />
              </div>
            </div>
            <div class="form-group">
              <a id="add-element" class="btn btn-outline-primary">+ ADD</a>
            </div>
            <button type="submit" class="btn-simple">Create</button>
          </form>
        <script src="/javascripts/add_element.js"></script>
    </div>
</div>
<script src="/javascripts/button_modal.js"></script>
<script>
  function confirmAndDelete(id) {
    const isConfirmed = confirm("Do you want to delete this?");
    if (isConfirmed) {
      const deleteUrl = `/delete?id=${id}`;
      fetch(deleteUrl, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => {
          window.location.href = "/dashboard";
        })
        .catch((error) => {
          window.location.href = "/dashboard";
        });
    }
  }
</script>
<script>
  var checkboxElems = document.querySelectorAll("input[type='checkbox']");
  for (var i = 0; i < checkboxElems.length; i++) {
    checkboxElems[i].addEventListener("click", displayCheck);
  }
  function displayCheck(e) {
    const value = e.target.value;
    const isChecked = e.target.checked;
    let element = document.getElementById(value);
    if (isChecked) {
      element.className = "btn btn-danger";
      element.style.color = "white";
    } else {
      element.className = "btn btn-danger disabled";
      element.style.color = "black";
    }
  }
</script>
<%- include('includes/footer') %>